body {
    padding-top: 160px;
}
.step-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #dee2e6;
    color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.step-circle.done {
    background: #E8B84B;
    color: white;
}
.step-circle.current {
    background:#E8B84B;
    color: white;
}
.step-line {
    flex: 1;
    height: 3px;
    background: #dee2e6;
    margin: 0 10px;
}
.step-line.done {
    background: rgb(53, 53, 250);
}
#imgKhien{
    width: 25px;
}
.chon1 + .chon2{
    background-color:#fbcd04 !important;
    color: white;
}
#time{
    width: 24px;
}
.chon1 {
    background: #fbcd04 !important;
}
.chon2 {
    background: #fbcd04 !important;
}

