body {
    padding-top: 160px;
}
.step-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #dee2e6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.step-line {
    flex: 1;
    height: 3px;
    background: #dee2e6;
    margin: 0 10px;
}
#imgKhien{
    width: 25px;
}
#time{
    width: 24px;
}


